html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
}

.container {
    padding: 50px;
    margin: 30px;
    border: 2px white solid;
}

.menu {
    background-color: green;
}

.emptyspace {
    background-color: black;
    grid-column: 4 / 10;

}

.third {
    background-color: black;
    color: white;
    grid-column: 10 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.footer {
    background-color: black;
    color: white;
    grid-row: 2 / -1;
    grid-column: 1 / -1;

}

a:link {
    color: pink;
}

a:visited {
    color: lightblue;
}

a:active {
    color: lightgreen;
}

